<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOURNEY</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/index.css" />
</head>
<body>
    <div class="head">
        <h1 class="link"><a href="/login">LOG IN</a></h1>
        <h1 class="link"><a href="/register">CHECK IN</a></h1>
    </div>
    <div class="content">
        <h1 class="neon">Начний свой путь в киберспорт с площадки <em class="neon" style="color: rgb(232, 1, 40);text-shadow: 0 0 4px rgb(232, 1, 40)">JOURNEY</em></h1>
        <div class="line">
            <div class="block left">
                <div class="title">
                    <h1>Наши сервера обеспечивают</h1>
                </div>
                <div>
                    <a href="/login"><h1 class="about" style="background-color: #292938">Качественный подбор игроков</h1></a>
                    <h1 class="about">Игра на самих близких к вам серверах</h1>
                    <h1 class="about">Защиту античита</h1>
                    <h1 class="about">И многое другое...</h1>
                </div>
            </div>
            <div class="block right">
                <div class="title">
                    <h1>&#xfeff</h1>
                </div>
                <div class="card">
                    <h1><em class="neon" style="color: rgb(232, 1, 40);text-shadow: 0 0 4px rgb(232, 1, 40)">JRU</em> - единица измерения рейтинга на нашей платформе.</h1>
                    <h1>Вы играете с игроками у которых максимальная разница 200 JRU</h1>
                    <h1>JRU складыветься от авг</h1>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="block left">
            </div>
            <div class="block right">
                <div class="title">
                    <h1>Наши сервера обеспечивают</h1>
                </div>
                <div>
                    <h1 class="about">Качественный подбор игроков</h1>
                    <h1 class="about">Игра на самих близких к вам серверах</h1>
                    <h1 class="about">Защиту античита</h1>
                    <h1 class="about">И многое другое...</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="head">
    </div>
</body>
</html>